<html>
    <head>
        <meta charset="UTF-8" />
        <title>SOS DONER</title>
        <link rel="stylesheet" href="/style.css" />
    </head>
    <body>
        <main>
            <header>
              <h2>SOS DONER</h2>   
              <nav>
                <ul>
                  <li><a href="">Home</a></li>
                  <li><a href="">About</a>  </li>
                  <li><a href="">Contact</a> </li>
                  <li><button class='btnIn'>Sign In</button></li>
                  <li><button class='btnUp'>Sign Up</button></li>
                </ul>
              </nav>
            </header>
            <section class='mapsContainer'>
              <div class="mapouter"><div class="gmap_canvas"><iframe width="600" height="500" id="gmap_canvas" src="https://maps.google.com/maps?q=2880%20Broadway,%20New%20York&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a href="https://123movies-to.org"></a><br><style>.mapouter{position:relative;text-align:right;height:500px;width:600px;}</style><a href="https://www.embedgooglemap.net"></a><style>.gmap_canvas {overflow:hidden;background:none!important;height:500px;width:600px;}</style></div></div>
            </section>
            <section class='firstSection'>
              <section class='subFirstSection'>
                <h2>First Aid Information</h2>
                <ol>
                  
                <li>Airway (clearing airways): If the patient responds in a normal voice, then the airway is patent.</li>
                <li>Breathing (ensuring respiration): In all settings, it is possible to determine the respiratory rate, inspect movements of the thoracic wall for symmetry and use of auxiliary respiratory symmetry and use of auxiliary respiratory muscles, and percuss the chest for unilateral dullness or resonance.</li>
                <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea, ducimus.</li>
                <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea, ducimus.</li>
                </ol>
              </section>
              <section class='subSecondSection'>
                <h2>Nearest Hospital</h2>
                <ul>
                  
                <li><a href="https://goo.gl/maps/wpzMZD1LpsSnBCV77">St. Elizabeth's Medical Center</a>
                  <p>St. Elizabeth's Medical Center (SEMC) (more often called St. Elizabeth's Hospital, its former name, or its nickname, St. E's) is a large medical facility and teaching hospital in the Brighton neighborhood of Boston, Massachusetts.</p>
                </li>
                <li><a href="https://goo.gl/maps/wpzMZD1LpsSnBCV77">St. Elizabeth's Medical Center</a>
                  <p>St. Elizabeth's Medical Center (SEMC) (more often called St. Elizabeth's Hospital, its former name, or its nickname, St. E's) is a large medical facility and teaching hospital in the Brighton neighborhood of Boston, Massachusetts.</p>
                </li>
                <li><a href="https://goo.gl/maps/wpzMZD1LpsSnBCV77">St. Elizabeth's Medical Center</a>
                  <p>St. Elizabeth's Medical Center (SEMC) (more often called St. Elizabeth's Hospital, its former name, or its nickname, St. E's) is a large medical facility and teaching hospital in the Brighton neighborhood of Boston, Massachusetts.</p>
                </li>
                </ul>
              </section>
            </section>
            <section>
              
            </section>
            <footer>
              <p>&copy; 2022 SOSDONER.com created By Moe </p>
              <h2>SOS DONER</h2> 
            </footer>
        </main>
        <script src="/public/main.js"></script>
    </body>

</html>