html{
  font-size: 62.5%;
}
body{
  background: #b41919;
  margin: 0;
  font-family: Calibri, 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
}
h2{
  font-size: 2.2rem;
  color: #EA4F4F;
}
main{
  width: 100%;
  font-size: 1rem;
}
header{
  width: 100%;
  display: flex;
  background: #fff;
  justify-content: space-between;
  align-items: center;
}
header h2{
  color: #EA4F4F;
  padding: 1rem;
}
ul{
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
li{
  margin: 1rem;
  font-size: 1.4rem;
}
a{
  text-decoration: none;
  color: #020202;
  transition: 0.4s;
}
a:hover{
   color: #EA4F4F;
   text-decoration: underline;
}
header nav ul li button{
    cursor: pointer;
    border: 0;
    border-radius: 4px;
    font-weight: 600;
    margin: 0 10px;
    width: 200px;
    padding: 10px 0;
    box-shadow: 0 0 20px rgba(104, 85, 224, 0.2);
    transition: 0.4s;
}
.btnUp{
  color: #020202;
  background-color: #EA4F4F;
}
.btnIn{
  color: #EA4F4F;
  background-color: #fff;
  border: 1px solid rgba(234, 79, 79, .8);
}
button:hover {
  color: #020202;
  width:;
  box-shadow: 0 0 20px rgba(234, 79, 79, .8);
  background-color: #EA4F4F;
}
.mapsContainer{
  display:flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
}
.firstSection{
  display: flex;
  justify-content: center;
  gap: 1em;
}
.subFirstSection, .subSecondSection{
  background-color: #f2f2f2;
  margin : 0.2rem;
  width: 60rem;
  height: 50rem;
  border-radius: 1rem;
  font-size: 1.3rem;
  overflow: hidden;
}
.subFirstSection{
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #f2f2f2;
}

.subFirstSection h2, .subSecondSection h2{
  align-self: flex-start;
  text-decoration: underline;
  padding-left: 1rem;
}
.subSecondSection{
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #f2f2f2;
} 
.subSecondSection ul{
  display: flex;
  flex-direction: column;
}
footer{
  background-color: #f2f2f2;
  margin-top: 1rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}